<launch>
  <arg name="use_microphone" default="false" />

  <!-- Launch Test Audio Publisher node (WAV playback) -->
  <node name="audio_publisher_node" pkg="crispasr_ros" type="audio_publisher_node" output="screen" unless="$(arg use_microphone)">
    <rosparam command="load" file="$(find crispasr_ros)/config/params_ros1.yaml" />
  </node>

  <!-- Launch Microphone Capture node -->
  <node name="microphone_node" pkg="crispasr_ros" type="microphone_node" output="screen" if="$(arg use_microphone)">
    <rosparam command="load" file="$(find crispasr_ros)/config/params_ros1.yaml" />
  </node>
</launch>
